@font-face {
  font-family: "NeueBold";
  src: url("/static/fonts/NeueMontreal/NeueMontrealBold.woff") format("woff");
}

@font-face {
  font-family: "NeueBoldItalic";
  src: url("/static/fonts/NeueMontreal/NeueMontrealBoldItalic.woff")
    format("woff");
}

@font-face {
  font-family: "NeueItalic";
  src: url("/static/fonts/NeueMontreal/NeueMontrealItalic.woff") format("woff");
}

@font-face {
  font-family: "NeueLight";
  font-weight: 900;
  src: url("/static/fonts/NeueMontreal/NeueMontrealLight.woff") format("woff");
}

@font-face {
  font-family: "NeueLightItalic";
  src: url("/static/fonts/NeueMontreal/NeueMontrealLightItalic.woff")
    format("woff");
}

@font-face {
  font-family: "NeueMedium";
  src: url("/static/fonts/NeueMontreal/NeueMontrealMedium.woff") format("woff");
}

@font-face {
  font-family: "NeueMediumItalic";
  src: url("/static/fonts/NeueMontreal/NeueMontrealMediumItalic.woff")
    format("woff");
}

@font-face {
  font-family: "NeueRegular";
  src: url("/static/fonts/NeueMontreal/NeueMontrealRegular.woff") format("woff");
}
