* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
html {
  box-sizing: border-box;
  font-family: moon-light;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  margin: auto;
  max-width: 1330px;
}
