@import "./breakpoints.scss";

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
html {
  box-sizing: border-box;
  font-family: "NeueRegular", Helvetica, serif;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  font-family: "NeueMedium", Helvetica, serif;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 15px;

  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.container {
  margin: auto;
  max-width: 1330px;
}

:focus {
  outline: #08f auto 2px;
}

body.using-mouse :focus {
  outline: none;
}
