.contact-details {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;

  // &__heading {
  //   display: inline-block;
  //   font-size: 30px;
  //   left: 100px;
  //   position: absolute;
  //   top: 20px;
  // }

  &__home-name {
    display: inline-block;
    font-size: 30px;
    left: 100px;
    position: absolute;
    top: 20px;
  }

  &__home-link {
    color: #2b2b2b;
    text-decoration: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
  }

  &__link {
    align-items: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    margin: 40px auto;
    position: relative;
    text-decoration: none;
    transition: background-size 0.3s cubic-bezier(0, 0.7, 0.3, 1),
      color 0.3s ease-out;
    width: fit-content;

    &:after {
      background-color: rgba(255, 255, 255, 0);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.3s ease;
    }

    &:hover {
      &:after {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  &__icon {
    height: 25px;
    margin-right: 25px;
    width: 25px;
  }

  &__list-item {
    font-size: 25px;
    line-height: 25px;
    // opacity: 0;
    text-align: center;

    .fadeIn & {
      animation: 1s ease fadeIn forwards;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: $i * (0.2s);
        }
      }
    }
  }
}
