@import "../../style.scss";

.contact-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  @include media-breakpoint-up(xl) {
    flex-direction: row-reverse;
  }

  &__image-wrapper {
    height: 100%;
    width: 100%;
  }

  &__image {
    animation: 3s ease fadeIn 0.3s backwards;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__section {
    height: 100%;
    position: relative;
    width: 100%;

    @include media-breakpoint-up(xl) {
      width: 50%;
    }

    &--1 {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      @include media-breakpoint-up(xl) {
        left: 10%;
      }
    }

    &--2 {
      align-items: center;
      display: flex;
      z-index: 3;
    }
  }

  &__overlay {
    background-color: rgba($c-white, 0.75);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin-top: 20px;
    width: 100%;

    @include media-breakpoint-up(md) {
      margin-top: 40px;
    }

    @include media-breakpoint-up(xl) {
      left: 70%;
      margin-top: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 60%;
    }
  }

  &__link {
    align-items: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    font-family: NeueMedium;
    font-size: 20px;
    margin: 30px auto;
    position: relative;
    text-decoration: none;
    transition: background-size 0.3s cubic-bezier(0, 0.7, 0.3, 1),
      color 0.3s ease-out;
    width: fit-content;

    @include media-breakpoint-up(md) {
      font-size: 25px;
      margin: 30px auto;
    }

    @include media-breakpoint-up(xl) {
      margin: 30px 10px;
    }

    &:after {
      background-color: rgba(255, 255, 255, 0);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.3s ease;
    }

    &:hover {
      @media (pointer: fine) {
        &:after {
          background-color: rgba(255, 255, 255, 0.3);
        }

        .contact-details__icon {
          transform: scale(1.2);
        }
      }
    }
  }

  &__icon {
    height: 25px;
    margin: 10px 25px 10px 10px;
    transition: all 0.2s ease-out;
    width: 25px;
  }

  &__list-item {
    animation: 1s ease fadeInFromRight backwards;
    font-size: 20px;
    line-height: 25px;

    @include media-breakpoint-up(md) {
      font-size: 25px;
    }

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: 0.7s + $i * (0.1s);
      }
    }
  }
}
