@import "../../style.scss";

.burger {
  display: inline-block;
  left: 6px;
  position: fixed;
  top: 20px;
  transition: all 0.3s ease;
  z-index: 11;

  .homepage & {
    animation: fadeInLeft 1s ease backwards;
    animation-delay: 0.9s;
    animation-iteration-count: 1;
  }

  @include media-breakpoint-up(md) {
    left: 20px;
  }

  &.active {
    left: 325px;

    .burger__button {
      transform: rotate(-180deg);
    }

    .burger__bar--1 {
      transform: rotate(45deg);
    }

    .burger__bar--2 {
      opacity: 0;
    }

    .burger__bar--3 {
      transform: rotate(-45deg);
    }
  }

  &__button {
    background-color: white;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: block;
    height: 30px;
    pointer-events: all;
    position: relative;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 32px;

    @include media-breakpoint-up(md) {
      background-color: transparent;
    }

    &:not(.active &) {
      &:hover {
        .burger__bar--2 {
          transform: scaleX(1);
        }
      }
    }

    .active & {
      .burger__bar--2 {
        transition: none;
      }

      &:hover {
        .burger__bar--2 {
          transform: unset;
        }
      }
    }

    &:focus {
      outline: 0;
    }
  }

  &__bar {
    background-color: #2b2b2b;
    height: 2px;
    left: 6px;
    margin-top: -1px;
    position: absolute;
    right: 6px;
    top: 50%;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
      opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
      background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: auto;

    &--1 {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }

    &--2 {
      transform: scaleX(0.8);
      transform-origin: 100% 50%;
    }

    &--3 {
      transform: translateY(6px);
    }
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.no-touchevents .burger-bar--2:hover {
  transform: scaleX(1);
}

.hidden {
  visibility: hidden;
}
