@import "../../style.scss";

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  // margin: 20px;
  margin-left: 45px;
  margin-right: 20px;
  padding-bottom: 100px;

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 60px;
  }

  @include media-breakpoint-up(xl) {
    margin: 20px;
  }

  &__tile {
    &--featured {
      grid-column: 1/3;
      grid-row: 2/4;
    }
  }

  .cool-lightbox {
    cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd' stroke-width='1.5' stroke='%23EFEFEF'%3E%3Ccircle cx='16' cy='16' r='15'/%3E%3Cpath stroke-linecap='square' d='M10.5 16.5h12'/%3E%3C/g%3E%3C/svg%3E")
        16 16,
      pointer;

    &__slide {
      img {
        cursor: auto;
        max-width: 85%;
      }
    }

    .cool-lightbox-toolbar {
      &__btn {
        background: none;

        @include media-breakpoint-up(xl) {
          display: none;
        }
      }
    }

    .cool-lightbox-button {
      padding: 8px;

      &__icon {
        background: none;
      }

      &--next {
        @include media-breakpoint-up(xl) {
          right: 37px;
        }
      }

      &--prev {
        @include media-breakpoint-up(xl) {
          left: 37px;
        }
      }
    }
  }
}

.trigger.animate-active {
  .grid__tile {
    animation-duration: 0.7s;
    animation-fill-mode: backwards;
    animation-name: slideUpFade;
    animation-timing-function: ease-out;

    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        animation-delay: $i * (0.3s);
      }
    }
  }
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
