@import "../../style.scss";

.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 100px;
  padding-top: 100px;

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 60px;
  }

  @include media-breakpoint-up(xl) {
    margin: 20px;
  }

  &__tile {
    &--featured {
      @include media-breakpoint-up(md) {
        &--1 {
          grid-column: 1/3;
          grid-row: 2/4;
        }

        &--2 {
          grid-column: 3/5;
          grid-row: 4/6;
        }

        &--3 {
          grid-column: 1/3;
          grid-row: 6/8;
        }
      }
    }
  }

  .cool-lightbox {
    cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd' stroke-width='1.5' stroke='%23EFEFEF'%3E%3Ccircle cx='16' cy='16' r='15'/%3E%3Cpath stroke-linecap='square' d='M10.5 16.5h12'/%3E%3C/g%3E%3C/svg%3E")
        16 16,
      pointer;

    &__slide {
      img {
        cursor: auto;
        max-width: 85%;
      }
    }

    .cool-lightbox-toolbar {
      &__btn {
        background: none;

        @include media-breakpoint-up(xl) {
          display: none;
        }
      }
    }

    .cool-lightbox-button {
      padding: 8px;

      &__icon {
        background: none;
      }

      &--next {
        @include media-breakpoint-up(xl) {
          right: 37px;
        }
      }

      &--prev {
        @include media-breakpoint-up(xl) {
          left: 37px;
        }
      }
    }
  }
}
