@import "../../style.scss";

.hero {
  animation: 2s ease fadeIn 0.3s backwards;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;

  &__image-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    padding-top: 100px;
    width: 100%;

    @include media-breakpoint-up(md) {
      padding-top: 0;
    }

    @include media-breakpoint-up(lg) {
      width: auto;
    }

    // to catch ipad pro portrait dimensions
    @media only screen and (max-height: 1366px) and (min-height: 1200px) {
      width: 100%;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
