@import "../../style.scss";

.hero {
  animation: 2s ease fadeIn 0.3s backwards;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;

  &__text-wrapper {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 40%;
    z-index: 2;
  }

  &__title {
    animation: fadeIn 1s ease backwards;
    animation-delay: 0.3s;
    font-size: 80px;
    margin-bottom: 40px;
  }

  &__subtitle {
    animation: fadeIn 1s ease backwards;
    animation-delay: 0.6s;
    font-size: 65px;
  }

  &__image-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
