@import "../../style.scss";

.nav {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;

  &--white {
    background-color: $c-white;
  }

  &__burger-wrapper {
    margin: 30px;
    padding-top: 10px;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  &__home-wrapper {
    font-family: NeueMedium;
    margin-left: 30px;
    z-index: 1;
  }

  &__panel {
    align-items: center;
    background-color: rgb(59, 74, 84);
    bottom: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
  }

  &__list {
    display: flex;
    flex-direction: column;
    left: 50%;
    list-style: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  &__list-item {
    animation: 0.5s navFadeInMobile ease-out forwards;
    display: flex;
    align-items: center;
    font-size: 22px;
    margin: 30px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(md) {
      animation: 0.5s navFadeIn ease-out forwards;
      margin: 40px 0;
      font-size: 26px;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 40px;
    }

    @include media-breakpoint-up(xl) {
      margin: 0 60px;
      font-size: 32px;
    }

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: 0.3s - ($i * 0.1s);
      }
    }
  }

  &__list-link {
    transition: color 0.3s ease 0.7s;
    color: $c-white;
    cursor: pointer;
    position: relative;
    text-decoration: none;

    &--home {
      color: $c-black;
      transition: color 0.3s ease 0.7s;

      @include media-breakpoint-up(md) {
        font-size: 26px;
      }

      &:hover {
        @media (pointer: fine) {
          opacity: 0.7;
          transition-delay: 0;
        }
      }
    }

    &.active {
      &:after {
        background-color: $c-white;
        bottom: -7px;
        content: "";
        display: inline-block;
        height: 2px;
        left: 50%;
        position: absolute;
        transform: translate(-50%);
        transition: all 0.3s ease;
        width: 60%;
      }

      &:hover {
        @media (pointer: fine) {
          &:after {
            background-color: rgba($c-white, 0.7);
          }
        }
      }
    }
  }

  &--open {
    .nav__list-item {
      animation: 0.5s navFadeOutMobile ease-out backwards;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          animation-delay: 0.2s + ($i * 0.1s);
        }
      }

      @include media-breakpoint-up(md) {
        animation: 0.5s navFadeOut ease-out backwards;
      }
    }

    .nav__list-link {
      transition-delay: 0s;
      
      &:hover {
        @media (pointer: fine) {
          color: rgba($c-white, 0.7);
        }
      }

      &--home {
        color: $c-white;
        transition-delay: 0s;
      }
    }
  }

  // TRANSITIONS AND ANIMATIONS
  .nav-slide-enter-active {
    transition: all 0.3s ease-out;
  }

  .nav-slide-leave-active {
    transition: all 0.3s ease-out 0.5s;
  }

  .nav-slide-enter,
  .nav-slide-leave-to {
    transform: translateY(-100%);
  }

  @keyframes navFadeOut {
    0% {
      opacity: 0;
      transform: translateY(-40px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes navFadeIn {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(-40px);
    }
  }

  @keyframes navFadeOutMobile {
    0% {
      opacity: 0;
      transform: translateX(40px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes navFadeInMobile {
    0% {
      opacity: 1;
      transform: translateX(0);
    }

    100% {
      opacity: 0;
      transform: translateX(40px);
    }
  }
}
